@use '../core/variables' as vars;

h3, .title-results, .title-favorite{
  font-size: 1rem;
  font-family: vars.$font-primary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: underline;
     
    &.title-favorite, &.title-results{
      flex-wrap: wrap;
      margin-top: 2rem;
      text-align: center;
    }
}

.container-search{
  display: flex;
  flex-direction: row;
  justify-content: center;

  & input{
  border-radius: 5rem;
  border: 1px solid rgba(1, 1, 1, 0.5);
  padding: 0.5rem;
  
  }
}

.container {
  display: flex;
  gap: 10rem;
  margin-top: 3rem;
  align-items: flex-start;
  

  .favorites{
    background-color: #f4b6c2;
    display:flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    border-radius: 1rem;
    gap:3rem;

    .favoritos-li{
      width: 10rem;
      height: auto;
      padding: 1,5rem;
      list-style: none;

      li{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(1, 1, 1, 0.5);

        img{
          width: 20vw;
          height: auto;
          gap: 1,5rem;
        }
        name{
          font-size: 1rem;
          font-weight: bold;
          width: 100%;
          border:1px solid black
        }
      }
    }
  }
}

.container-container{
  background-color: #f4b6c2;
    display:flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    border-radius: 1rem;
    gap:1rem;
}
.container-results {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1,5rem;
}

.anime-card {
  margin:2rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

    img {
    width: 15vw;
    height: auto;
    object-fit: cover;
  }

}
