<header class="page__header">
  <div class="hero">
    <h1 class="title-hero">BUSCADOR DE SERIES ANIME</h1>
    <div class="imgs-pixels">
      <img src="./images/guardianes-noche.jpg" alt="guardianes-noche">
      <img src="./images/one-piece.jpg" alt="one-piece">
      <img src="./images/naruto.jpg" alt="naruto">
    </div>
  </div> 
  <section>
    <nav class="header-nav-bar__nav">
      <ul class="nav__list">
        <li class="nav-list__option"><a class="option__link" href="./index.html">Home</a></li>
      </ul>
    </nav>
  </section>
</header>
